=breadcrumb_tag do
  %li
    Навигация
  %li
    = link_to 'Аптеки', pharmacies_path
  %li
    = link_to(@pharmacy.adress, @pharmacy)
  %li.active
    = t('headers.pharmacies.edit')


.row.hidden-sm.hidden-xs
  .page-header
    %h1= t('headers.pharmacies.edit')
.row.visible-sm.visible-xs
  .page-header
    %h5= t('headers.pharmacies.edit')

= render 'form'
