=breadcrumb_tag do
  %li
    Навигация
  %li.active
    Аптеки

.row.hidden-sm.hidden-xs
  .page-header
    %h1= t('headers.pharmacies.index')
  
  %table.table.table-hover.table-striped.center
    - if @current_role_user.present? and @current_role_user.is_admin?
      %caption
        = link_to new_pharmacy_path, class: 'btn btn-success' do
          = fa_icon :plus
          = t('buttons.new.pharmacy') 
    %thead
      %tr
        %th= Pharmacy.human_attribute_name(:adress)
        %th= Pharmacy.human_attribute_name(:number)
        %th= Pharmacy.human_attribute_name(:nearest_metro)
        %th.p50
        %th.p50
        %th.p50
  
    %tbody
      - @pharmacies.each do |pharmacy|
        %tr
          %td= pharmacy.adress
          %td= pharmacy.number
          %td= pharmacy.nearest_metro
          %td
            = link_to pharmacy, class: 'btn btn-success' do
              = fa_icon :eye
          - if @current_role_user.present? and @current_role_user.is_admin?
            %td
              = link_to edit_pharmacy_path(pharmacy), class: 'btn btn-info' do
                = fa_icon :edit
            %td
              = link_to pharmacy, :method => :delete, :data => { :confirm => t('helpers.sure') }, class: 'btn btn-danger' do
                = fa_icon :times

.row.visible-sm.visible-xs
  .page-header
    %h5= t('headers.pharmacies.index')
  %table.table.table-hover.table-striped.center
    - if @current_role_user.present? and @current_role_user.is_admin?
      %caption
        = link_to new_pharmacy_path, class: 'btn btn-success' do
          = fa_icon :plus
          = t('buttons.new.pharmacy') 
    %thead
      %tr
        %th= "Название поля"
        %th= "Информация"
    %tbody
      - i = 0
      - @pharmacies.each do |pharmacy|
        %tr
          %td= "Запись номер " + (i+1).to_s
          - i+=1
          %td
            = link_to pharmacy, class: 'btn btn-success' do
              = fa_icon :eye
            - if @current_role_user.present? and @current_role_user.is_admin?
              = link_to edit_pharmacy_path(pharmacy), class: 'btn btn-info' do
                = fa_icon :edit
              = link_to pharmacy, :method => :delete, :data => { :confirm => t('helpers.sure') }, class: 'btn btn-danger' do
                = fa_icon :times
        %tr
          %td= Pharmacy.human_attribute_name(:adress)
          %td= pharmacy.adress
        %tr
          %td= Pharmacy.human_attribute_name(:number)
          %td= pharmacy.number
        %tr
          %td= Pharmacy.human_attribute_name(:nearest_metro)
          %td= pharmacy.nearest_metro
      
