- if @current_user.present?
  =breadcrumb_tag do
    %li
      Навигация
    %li
      = link_to 'Аптеки', pharmacies_path
    %li.active
      = t('headers.pharmacies.new')


    
.row.hidden-sm.hidden-xs
  .page-header
    %h1= t('headers.pharmacies.new')
.row.visible-sm.visible-xs
  .page-header
    %h5= t('headers.pharmacies.new')
= render 'form'
