=breadcrumb_tag do
  %li
    Навигация
  %li.active
    Информация о наличии лекарств


.row.hidden-sm.hidden-xs
  .page-header
    %h1= t('headers.ava_infos.index')
  
  %table.table.table-hover.table-striped.center
    - if @current_role_user.present? and @current_role_user.is_admin?
      %caption
        = link_to new_ava_info_path, class: 'btn btn-success' do
          = fa_icon :plus
          = t('buttons.new.ava_info') 
    %thead
      %tr
        %th= AvaInfo.human_attribute_name(:pharmacy)
        %th= AvaInfo.human_attribute_name(:medicine)
        %th= AvaInfo.human_attribute_name(:quantity)
        %th.p50
        %th.p50
        %th.p50
  
    %tbody
      - @ava_infos.each do |ava_info|
        %tr
          %td= ava_info.pharmacy.try(:number)
          %td= ava_info.medicine.try(:medicine_name)
          %td= ava_info.quantity
          %td
            = link_to ava_info, class: 'btn btn-success' do
              = fa_icon :eye
          - if @current_role_user.present? and @current_role_user.is_admin?   
            %td
              = link_to edit_ava_info_path(ava_info), class: 'btn btn-info' do
                = fa_icon :edit
            %td
              = link_to ava_info, :method => :delete, :data => { :confirm => t('helpers.sure') }, class: 'btn btn-danger' do
                = fa_icon :times
              
.row.visible-sm.visible-xs
  .page-header
    %h5= t('headers.ava_infos.index')
    
  %table.table.table-hover.table-striped.center
    - if @current_role_user.present? and @current_role_user.is_admin?
      %caption
        = link_to new_ava_info_path, class: 'btn btn-success' do
          = fa_icon :plus
          = t('buttons.new.ava_info') 
    %thead
      %tr
        %th= "Название поля"
        %th= "Информация"
        
    %tbody
      - i=0
      - @ava_infos.each do |ava_info|
        %tr
          %td= "Запись номер " + (i+1).to_s
          - i+=1
          %td
            = link_to ava_info, class: 'btn btn-success' do
              = fa_icon :eye
            - if @current_role_user.present? and @current_role_user.is_admin?   
              = link_to edit_ava_info_path(ava_info), class: 'btn btn-info' do
                = fa_icon :edit
              = link_to ava_info, :method => :delete, :data => { :confirm => t('helpers.sure') }, class: 'btn btn-danger' do
                = fa_icon :times
        %tr
          %td= AvaInfo.human_attribute_name(:pharmacy)
          %td= ava_info.pharmacy.try(:number)
        %tr
          %td= AvaInfo.human_attribute_name(:medicine)
          %td= ava_info.medicine.try(:medicine_name)
        %tr
          %td= AvaInfo.human_attribute_name(:quantity)
          %td= ava_info.quantity

