=breadcrumb_tag do
  %li
    Навигация
  %li
    = link_to 'Информация', ava_infos_path
  %li.active
    = @ava_info.pharmacy.adress


.row.hidden-sm.hidden-xs
  %h1= @ava_info.pharmacy.adress
.row.visible-sm.visible-xs
  %h5= @ava_info.pharmacy.adress

%dl
  %dt= AvaInfo.human_attribute_name(:pharmacy)
  %dd= @ava_info.pharmacy.number
  %dt= AvaInfo.human_attribute_name(:medicine)
  %dd= @ava_info.medicine.medicine_name
  %dt= AvaInfo.human_attribute_name(:quantity)
  %dd= @ava_info.quantity
